
<%= simple_form_for(@subject) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name ,collection:["Ruby","Rails","Gaming","Javascript"]%>
    <!-- remove the student field as the student is passed from student index html
    to subject new controller, directly as a param -->
    <!-- <%= f.association :student %> -->
    <%= f.hidden_field :student_id, :value => @student.id %>

    <%= f.association :teacher %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
